<section class="mt-8 w-2/3 mx-auto">
  <div class="flex items-center justify-between rounded shadow bg-white mb-8 p-5">
    <div class="px-8 mb-4">
      <p class="text-blue-600 font-bold leading-wide uppercase text-gray-600 text-xl lg:text-base mb-1">
        <%= event.date.strftime("%B %-d, %Y") %>
      </p>
      <p class="font-semibold text-3xl lg:text-2xl mb-1">
        <%= event.title %>
      </p>
      <p class="text-gray-600 text-xl lg:text-base">
        <%= event.location %>
      </p>
    </div>
    <div class="w-1/3">
      <div class="inline-block">
        <%= link_to edit_admin_event_path(event) do %>
          <button class="bg-blue-500 hover:bg-blue-700 text-2xl lg:text-base text-white font-bold py-2 px-4 rounded">
            Edit
          </button>
        <% end %>
      </div>

      <div class="inline-block">
        <form method="POST" action="/admin/events/<%= event.id %>" onsubmit="return confirm('Are you sure you want to delete this job?');">
          <div style="margin:0;padding:0">
            <input name="_method" value="delete" type="hidden" />
            <button class="bg-blue-500 hover:bg-blue-700 text-2xl lg:text-base text-white font-bold py-2 px-4 rounded" type="submit">Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
