<section class="mt-10">
  <div class="text-center">
    <%= link_to new_admin_event_path do %>
      <button class="bg-blue-500 hover:bg-blue-700 text-2xl lg:text-base text-white font-bold py-2 px-4 rounded">
        Add a new event
      </button>
    <% end %>
  </div>
</section>

<section class="mt-10">
  <div class="">
    <p class="text-xl uppercase text-gray-700 font-semibold text-center tracking-widest">
      All Events
    </p>
  </div>

  <% @events.each do |event| %>
    <%= render event %>
  <% end %>
</section>
