
<div class="rounded shadow my-8 bg-white w-full lg:w-2/3 p-10 mx-auto">
  <div class="font-bold text-2xl text-center">
    Add a new event
  </div>
  <%= render 'form' %>
</div>

<script>
  // Setup toolbar options
  var toolbarOptions = [
    [{ 'header': [1, 2, 3, false] }],
    ['bold', 'italic', 'underline'],        // toggled buttons

    // [{ 'header': 1 }, { 'header': 2 }],               // custom button values
    [{ 'list': 'ordered'}, { 'list': 'bullet' }],

    ['clean']                                         // remove formatting button
  ];

  // Initialize editor
  var quill = new Quill('#editor', {
    modules: {
      toolbar: toolbarOptions
    },
    theme: 'snow'
  });

  // Update hidden field
  const hidden = document.querySelector('#hiddenArea');
  let quillVal = quill.container.firstChild.innerHTML;
  hidden.value = quillVal;

  quill.on('text-change', function() {
    let quillVal = quill.container.firstChild.innerHTML;
    hidden.value = quillVal;
  });
</script>

<style>
  #editor {
    height: 350px;
  }
</style>
