<section class="my-8 w-full mx-auto">
  <div>
    <p class="text-red-500 font-semibold">
      <%= link_to '&larr; Back to all events'.html_safe, admin_events_path, class: "" %>
    </p>
  </div>
</section>

<%= render @event %>

<section class="mt-16">
  <div class="my-8">
    <p class="text-xl uppercase text-gray-700 font-semibold tracking-widest">
      Event Details
    </p>
  </div>
  <div class="flex items-center rounded shadow bg-white mb-8 p-5">
    <div class="p-8">
      <p class="text-xl lg:text-lg">
        <%= @event.description.html_safe %>
      </p>
    </div>
  </div>
  <div class="">
    <%= link_to @event.link, target: '_blank' do %>
      <button class="bg-blue-500 hover:bg-blue-700 text-2xl lg:text-base text-white font-bold py-2 px-4 rounded">
        Learn more
      </button>
    <% end %>
  </div>
</section>
