<section class="mt-8">
  <div class="flex items-center rounded shadow bg-white mb-8 p-5">
    <%= image_tag (event.photo.attached? ? event.photo.variant(resize_to_limit: [350, 240]) : "conf-generic.jpeg"), class: "w-1/3 rounded mr-10" %>
    <div class="px-8">
      <div class="mb-4">
        <p class="text-blue-600 font-bold leading-wide uppercase text-gray-600 text-xl lg:text-base mb-1">
          <%= event.date.strftime("%B %-d, %Y") %>
        </p>
        <p class="font-semibold text-3xl lg:text-2xl mb-1">
          <%= event.title %>
        </p>
        <p class="text-gray-600 text-xl lg:text-base">
          <%= event.location %>
        </p>
      </div>
      <p class="text-xl lg:text-base">
        <%= event.summary %>
      </p>
    </div>
  </div>
</section>
