<%= form_with model: @event do |form| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@event.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="w-full">
    <div class="pt-6 pb-4">

      <div class="mb-4">
        <label class="block text-gray-700 lg:text-sm font-bold mb-2">
          Event Title
        </label>
        <%= form.text_field :title, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline", placeholder: "ODSC Conference 2020", required: true %>
        <p class="text-gray-600 text-sm lg:text-xs italic">Please specify a title for the event.</p>
      </div>

      <!-- Event date -->
      <div class="mb-4">
        <label class="block text-gray-700 lg:text-sm font-bold mb-2">
          Event Date
        </label>
        <%= form.date_field :date, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline", required: true %>
        <p class="text-gray-600 text-sm lg:text-xs italic">Please specify the date of the event.</p>
      </div>

      <!-- Event location -->
      <div class="mb-4">
        <label class="block text-gray-700 lg:text-sm font-bold mb-2">
          Event Location
        </label>
        <%= form.text_field :location, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline", placeholder: "Virtual", required: true %>
        <p class="text-gray-600 text-sm lg:text-xs italic">Please specify the city, state or country. If virtual, simply put "Virtual" or "Remote".</p>
      </div>

      <div class="mb-4">
        <label class="block text-gray-700 lg:text-sm font-bold mb-2">
          Event Graphic <span class="text-gray-600, text-xs font-light">(optional)</span>
        </label>
        <%= form.file_field :photo, class: "appearance-none border-2 border-gray-300 rounded w-full py-2 px-4 mb-3 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-gray-500", accept: "image/jpg, image/jpeg, image/png, image/gif, image/tiff, image/tif, image/svg" %>
        <p class="text-gray-600 text-xs italic">Please make sure the file is less than 1 MB and is either a JPG or PNG file.</p>
      </div>

      <div class="mb-4">
        <label class="block text-gray-700 lg:text-sm font-bold mb-2">
          Event Website
        </label>
        <%= form.url_field :link, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline", required: true %>
        <p class="text-gray-600 text-sm lg:text-xs italic">You can link to a ticketing page or another website.</p>
      </div>

      <div class="mb-4">
        <label class="block text-gray-700 lg:text-sm font-bold mb-2">
          Event Summary
        </label>
        <%= form.text_area :summary, rows: 4, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" %>
        <p class="text-gray-600 text-sm lg:text-xs italic mt-2">Provide a short summary of the event.</p>
      </div>

      <div class="mb-4">
        <label class="block text-gray-700 lg:text-sm font-bold mb-2">
          Event Description
        </label>
        <%= form.text_area :description, rows: 10, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" %>
        <p class="text-gray-600 text-sm lg:text-xs italic mt-2">Provide a long description of the event.</p>
      </div>

    </div>
  </div>
  <div class="flex items-center justify-between">
    <%= form.submit (@event.new_record? ? "Submit event" : "Update event"), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    <%= link_to 'Go back', events_path, class: "bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" %>
  </div>
<% end %>
