<section class="mt-10">
  <div class="text-center">
    <div class="text-6xl font-bold mb-2">
      Data Science Conferences
    </div>
    <div class="text-3xl lg:text-2xl text-gray-600 mb-6 max-w-3xl m-auto">
      Find out about upcoming data science conferences around the world.
    </div>
    <%= link_to new_event_path do %>
      <button class="bg-blue-500 hover:bg-blue-700 text-2xl lg:text-base text-white font-bold py-2 px-4 rounded">
        Submit an event
      </button>
    <% end %>
  </div>
</section>

<section class="mt-16">
  <div class="">
    <p class="text-xl uppercase text-gray-700 font-semibold text-center tracking-widest">
      Upcoming Events
    </p>
  </div>

  <% @events.each do |event| %>
    <%= link_to event_path(event) do %>
      <%= render event %>
    <% end %>
  <% end %>
</section>
