<img src="/assets/conf-generic-efd693bfb2bc230316529e676f6cc1c9afa56913b111de0b542238d59a8fe719.jpg" className="w-1/3 rounded mr-10" />


<p>
  <%= form.label :title %><br>

</p>

<p>
  <%= form.label :text %><br>
  <%= form.text_area :text %>
</p>

<p>

</p>


<div class="mb-4">
  <label class="block text-gray-700 lg:text-sm font-bold mb-2">
    Event Description
  </label>
  <div id="editor"></div>
  <input id="hiddenArea" name="description" value="" type="hidden" style="display: none;">
  <p class="text-gray-600 text-sm lg:text-xs italic mt-2">Provide a longer description of the event.</p>
</div>


<% @groups.each do |month, events| %>
<section class="mt-16">
  <div class="">
    <p class="text-xl uppercase text-gray-700 font-semibold text-center tracking-widest">
      <%= month.strftime("%B ") %> Events
    </p>
  </div>

  <% events.each do |event| %>
    <%= link_to event_path(event) do %>
      <%= render event %>
    <% end %>
  <% end %>
</section>
<% end %>
