<!DOCTYPE html>
<html>
  <head>
    <title>Events Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' -%>
    <% javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' -%>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

    <style>
      #menu-toggle:checked + #menu {
        display: block;
      }
    </style>

  </head>

  <body class="bg-gray-200">

    <nav class=" bg-gray-500 p-6">
      <div class="flex items-center justify-between flex-wrap w-3/4 mx-auto">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
          <span class="font-semibold tracking-tight">Event Listing</span>
        </div>

        <label for="menu-toggle" class="cursor-pointer lg:hidden block">
          <div class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
          </div>

        </label>
        <input type="checkbox" class="hidden" id="menu-toggle" />

        <div class="hidden flex-grow lg:flex lg:items-center lg:w-auto w-full" id="menu">
          <div class="text-sm lg:flex-grow">
            <a href="/admin/events" class="block mt-4 lg:inline-block lg:mt-0 text-gray-200 hover:text-white mr-4">
              Dashboard
            </a>
          </div>

          <!-- <div>
            <form method="POST" action="/logout">
              <button class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-gray-600 hover:bg-white focus:outline-none focus:shadow-outline mt-4 lg:mt-0" type="submit">
                Logout
              </button>
            </form>
          </div> -->

        </div>
      </div>
    </nav>

    <div class="container mx-auto text-gray-700 h-screen">
      <%= yield %>
    </div>

</html>
